@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

body{
	margin: 0;
	padding: 0;
	background: #f2f2f2;
	height: 100vh;
	/* overflow: hidden; */
	font-family: 'Noto Sans TC', sans-serif;
}
.center{
	width: 430px;
	margin: 130px auto;
	margin-top: 70px;
	position: relative;
}
.center .header{
	font-size: 28px;
	font-weight: bold;
	color: white;
	padding: 25px 0 30px 25px;
	background: #171c24;
	border-bottom: 1px solid #171c24;
	border-radius: 5px 5px 0 0;
	/* box-shadow: 0px 1px 2px 5px rgba(12, 0, 0, 0.1); */
}
.signinerror {
	margin-top: -20px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	margin-right: 20px;
	color: red;
	font-size: 25px;
}
.center form{
	position: absolute;
	background: white;
	width: 100%;
	padding: 50px 10px 0 30px;
	box-sizing: border-box;
	border: 1px solid #171c24;
	border-radius: 0 0 5px 5px;
	/* box-shadow: 0px 1px 2px 4px rgba(0,0,0,0.1) ; */
}
form input{
	height: 50px;
	width: 90%;
	padding: 0 10px;
	border-radius: 3px;
	border: 1px solid silver;
	font-size: 18px;
	outline: none;
}
form input[type="password"]{
	margin-top: 20px;
}
form input[type="text"]{
	margin-top: 20px;
}
form a button {
	font-size: 18px;
	margin-bottom: 20px;
	margin-left: -20px;
	width: 370px;
	cursor: pointer;
	line-height: 45px;
	border-radius: 5px;
	border: unset;
	background: #171c24;
	color: white;
}
form a button:hover{
	background: #3A3B3C;
	transition: .5s;
}
form i{
	position: absolute;
	font-size: 25px;
	color: grey;
	margin: 32px 0 0 -35px;
}
i.fa-lock{
	margin-top: 35px;
}
form input[type="submit"]{
	margin-top: 40px;
	margin-bottom: 40px;
	width: 130px;
	height: 45px;
	color: white;
	cursor: pointer;
	line-height: 45px;
	border-radius: 45px;
	border-radius: 5px;
	background: #171c24;
}
form input[type="submit"]:hover{
	background: #3A3B3C;
	transition: .5s;
}
form a{
	text-decoration: none;
	font-size: 18px;
	color: #171c24;
	padding: 0 0 0 20px;
}
.signup li {
list-style: none;
}
.signup li a{
float:left;
margin-left:-px;
  margin-bottom:30px; 
 text-align: center;
  width: 340px;
  color: #f2f2f2;
  background: #171c24;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  
}
.signup li a:hover{
  background: #3A3B3C;
}
.logo a img {
	border-radius: 6px;
	margin-left: 100px;
	margin-bottom: 20px;
}