@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
body{
    background: #f2f2f2;
}
nav{
    position: fixed;
    height: 115px;
    z-index: 99;
    width: 100%;
    background: #171c24;
}
nav .wrapper{
    padding: 0px;
    position: relative;
    max-width: 1300px; 
    padding: 0px 30px;
    height: 100;
    line-height: 70px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.wrapper .logo a img{
    margin-left: -260px;
    padding-bottom: 0px;
    margin-top: -1.5pc;
    float: left;
}
.wrapper .nav-links{
    margin-top: 0px;
    display: inline-flex;
    margin-right: 270px;
}
.nav-links li{
    list-style: none;
}
.signin li {
    list-style: none;
}
.signup li {
    list-style: none;
}
.signin li a button{
    float: right;
    margin-right: -91px;
    height: 45px;
    margin-top: -40px;
    color: #f2f2f2;
    background:#242526;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.signup li a button{
    float: right;
    margin-right: 32px;
    height: 45px;
    margin-top: 10px;
    color: #f2f2f2;
    background:#242526;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.signin li a button:hover{
    background: #3A3B3C;
}
.signup li a button:hover{
    background: #3A3B3C;
}

.profile li {
    list-style: none;
}
.signout li {
    list-style: none;
}
.profile li a button{
    float: right;
    margin-right: 25px;
    height: 45px;
    margin-top: -40px;
    color: #f2f2f2;
    background:#242526;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

form input[type='submit'] {
	margin-top: 125px;
    margin-left: 1083px;
    float: right;
	min-width: 100px;
    height: 45px;
    padding-top: -2px;
    color: white;
    font-size: 18px;
	cursor: pointer;
	line-height: 45px;
	border-radius: 5px;
	background: #171c24;
}
.profile li a button:hover{
    background: #3A3B3C;
}
.signout li button:hover{
    background: #3A3B3C;
}
.nav-links li a{

    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    background: #3A3B3C;
}
.nav-links .mobile-item{
    display: none;
}
.nav-links .drop-menu{
    margin-top: -10px;
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}
nav .inpt {
    display: none;
}
nav form{
    display: flex;
    margin-top: -115px;
    margin-left :320px;
    height: 43px;
    width: 900px;
    padding: 2px;
    min-width: 18%!important;
    border-radius: 2px;
    border: 1px solid rgba(155,155,155,0.2);
}
nav .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: none;
}
nav form button{
    margin-left: 0px;
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #ff3d00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
nav form button:hover{
    background: #e63600;
}
/* nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: rgb(204, 16, 16);
    cursor: pointer;
    display: none;
} */
.products{
    width: 700px;
    margin-top: 100px;
    margin-left: 100px;
}
.categories{
    margin-top: 100px;
    margin-left: 400px;
}
.clients{
    margin-top: 100px;
    margin-left: 450px;
}
.commands{
    margin-top: 100px;
    margin-left: 150px;
}
.actions{
    margin-top: 100px;
    margin-left: 550px;
}
.table {

    border-collapse: collapse;
    margin: 25px 0;
    font-size : 18px;
    min-width : 400px; 
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba (0,0,0,0.15);
}
.table thead tr {
    background-color: #242526;
    color : white;
    text-align: left;
    font-weight: bold;
}
.table th, .table td {
    padding: 12px 15px;
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.table tbody tr:last-of-type{
    border-bottom: 2px solid  #242526 ;
}
.btn {
    color: white;
    background-color:#242526 ;
    cursor: pointer;
    font-size: 17px;
    padding: 8px 12px;
    border: 0px;
    border-radius: 5px;
}
.btn:hover {
    background-color:#3A3B3C;
}
